@model Lesca.Models.Usuarios

@{
    ViewBag.Title = "Detailles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de usuario</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
