@model Lesca.Models.Usuarios
@{
    //ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
@using (Html.BeginForm())
{   
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"> 
              <h4>@Html.ValidationSummary(true, " ERROR de LOGIN ") </h4>                    
                    <img class="centrado1", src="http://multicentro-desamparados.com/wp-content/uploads/2009/03/telecable.png"/>            
            <fieldset>              
            <div> @Html.LabelFor(u=>u.userEmail)</div>
            <div> @Html.TextBoxFor(u=>u.userEmail)
                @Html.ValidationMessageFor(u=>u.userEmail)
            </div><br />
            <div> @Html.LabelFor(u=>u.password)</div>
            <div> @Html.PasswordFor(u=>u.password)
                @Html.ValidationMessageFor(u=>u.password)
            </div><br />
            <button type="submit" value="Log In" class="btn btn-primary"> Ingresar </button>             
        </fieldset></div>
  <div class="col-sm-4"></div>                
    </div>    
}
