@model Lesca.Models.Clientes

@{
    ViewBag.Title = "Nuevo cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear nuevo cliente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.solicitud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solicitud)
                @Html.ValidationMessageFor(model => model.solicitud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion)
                @Html.ValidationMessageFor(model => model.direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contacto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contacto)
                @Html.ValidationMessageFor(model => model.contacto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Enum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Enum)
                @Html.ValidationMessageFor(model => model.Enum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cpe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cpe)
                @Html.ValidationMessageFor(model => model.cpe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.volocidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.volocidad)
                @Html.ValidationMessageFor(model => model.volocidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IP_publica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IP_publica)
                @Html.ValidationMessageFor(model => model.IP_publica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IP_Privada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IP_Privada)
                @Html.ValidationMessageFor(model => model.IP_Privada)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
