@model IEnumerable<Lesca.Models.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><br />
    @Html.ActionLink("Crear Nuevo Cliente", "Create")
</p>


@if (TempData["notice"] != null)
   {
      <script type="text/javascript">
       alert("@TempData["notice"]");
      </script>
   }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volocidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_publica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_Privada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.volocidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_publica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_Privada)
        </td>
        <td>
            @Html.ActionLink(" Editar |", "Edit", new { id=item.ID })
            @Html.ActionLink(" Detalles |", "Details", new { id=item.ID })
            @Html.ActionLink(" Eliminar |", "Delete", new { id=item.ID })
            <a href="/Historial/Create/@item.ID">Nuevo Reporte | </a>
            <a href="/Historial/Details/@item.ID">Historial </a>
        </td>
    </tr>
}

</table>
