@model LescaBusiness.Models.InfoCliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h3>Esta seguro que desea eliminar este cliente??</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volocidadcontratada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volocidadcontratada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
